In [1]:
import pandas as pd

In [12]:
eceA=pd.read_csv(r'C:\Users\Prashant\Desktop\collegedata\ecedata\eceA.csv')

In [13]:
eceA['user'] = eceA['user'].str.split(' ').str[0] # this will remove that extra roll no

In [14]:
eceA.head() // here you can see that extra roll no is removed

,user,Email address,Date,1,2,3,4,5,6,7,...,41,42,43,44,45,46,47,48,49,50
0,19241A0401,junaidparray010@gmail.com,"Wednesday, 27 November 2019, 10:14 AM",5,4,5,5,3,4,2,...,5,3,5,5,4,5,5,5,3,4
1,19241A0402,saishivaaavula@gmail.com,"Wednesday, 27 November 2019, 9:56 AM",3,3,4,5,5,5,1,...,5,4,5,5,4,4,3,5,4,5
2,19241A0403,adepuabhiram1@gmail.com,"Wednesday, 27 November 2019, 10:13 AM",3,5,5,5,4,5,2,...,4,3,5,4,4,5,5,3,3,3
3,19241A0404,mickey83space@gmail.com,"Wednesday, 27 November 2019, 10:10 AM",5,4,5,5,5,5,4,...,5,5,5,5,3,5,4,5,5,3
4,19241A0405,sriharshac800@gmail.com,"Wednesday, 27 November 2019, 10:08 AM",5,3,5,4,4,5,3,...,3,4,4,4,4,5,3,3,4,5

In [15]:
# now i am adding the seven fetaures

In [16]:
eceA['Self']=eceA['1']+eceA['6']+eceA['11']+eceA['21']+eceA['26']+eceA['28']+eceA['31']+eceA['36']+eceA['41']+eceA['46']

In [17]:
eceA['Emotions'] = eceA['2']+ eceA['7']+eceA['12']+eceA['17']+eceA['22']+eceA['27']+eceA['32']+eceA['37']+eceA['42']+eceA['47']

In [18]:
eceA['motivating']=eceA['3']+eceA['8']+eceA['18']+eceA['13']+eceA['23']+eceA['28']+eceA['33']+eceA['38']+eceA['43']+eceA['48']

In [19]:
eceA['Empathy']=eceA['4']+eceA['9']+eceA['14']+eceA['19']+eceA['24']+eceA['29']+eceA['34']+eceA['39']+eceA['44']+eceA['49']

In [20]:
eceA['social']=eceA['5']+eceA['10']+eceA['15']+eceA['20']+eceA['25']+eceA['30']+eceA['35']+eceA['40']+eceA['45']+eceA['50']

In [21]:
# after running the code till here virtually all 5 fields are added now we need to add them in dataset

In [25]:
eceA.head(1)

,user,Email address,Date,1,2,3,4,5,6,7,...,46,47,48,49,50,Self,Emotions,motivating,Empathy,social
0,19241A0401,junaidparray010@gmail.com,"Wednesday, 27 November 2019, 10:14 AM",5,4,5,5,3,4,2,...,5,5,5,3,4,47,41,42,48,39

In [ ]:
# just to write this code in new csv file 
newdata =